@tailwind base;
@tailwind components;
@tailwind utilities;


.editor-container{
  flex-basis:0;
}


.editor-container.collapsed{
  flex-grow: 0;
  position: relative;
}

.editor-container.collapsed .CodeMirror-scroll {
 position: absolute ;
}
.CodeMirror-scroll::-webkit-scrollbar{
  display: none;
}